#{extends 'main.html' /}
#{set title:'Home' /}

<div id="centerColumn">
#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

<form class="center" action="@{Application.processURL()}" method="POST">
    <input type="text" name="url" /> 
    <input type="submit" value="Generate Report" />
</form> 


#{if !report}
    <h2>No Report Yet!</h2>
#{/if}

#{else}
	<table class="center">
	<caption>Report for: ${url ?: 'None'}</caption>
	<thead>
		<tr>
			<th>Tag</th>
			<th>Value</th>
		</tr>
	</thead>

	#{list report, as:'row'}
	<tr>
	    #{list row, as:'cell'}
		<td>
			${cell}
		</td>
		#{/list}
	</tr>
	#{/list}
	</table>
#{/else}
</div>
